*.class
*.log
keys.jpg
rootkey.csv
openleasekey.pem
openleasekey.ppk
JenkinsInstance.pem
JenkinsInstance.ppk
OL_4.pem
OL_4.ppk
node_modules


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
./node_modules

# testing
./coverage

# production
./build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
./.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./admincredentials.csv
./JenkinsInstance.pem
./JenkinsInstance.ppk
./keys.jpg
./OL_4.pem
./OL_4.ppk
./rootkey.csv

logs
target
./.idea
./.idea_modules
./.classpath
./.project
./.settings
./RUNNING_PID
./public

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/Index_view.png
/Former_leases.png
/Login_view.png
/New_lease.png
/rootkey.csv
/ec2keys.jpg
/openleaseapisample.js
/oliverskey.txt
/'pre-edit template 4-8-19.txt'
/ubunutkeys.jpg
/appspec.yml
/buildspec.yml
/get-pip.py